a{
	text-decoration: none;
	background-color: #30a0ea;
	line-height: 40px;
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
	margin: 10px auto;
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}

p{
	padding: 15px;
}

.container a, p{
	background-color: #30a0ea;
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;

	-webkit-box-shadow: 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 0px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 4px 0px 0px rgba(50, 50, 50, 0.75);
}

.container{
	margin: 10px 3px;
}

.die-wrapper{
	text-align: center;
	margin: 0 auto;
}

.die img{
	width: 50px;
}

#roll, #total{
	text-align: center;
	width: 75%;
	margin: 18px auto;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer nav ul{
	list-style-type: none;
	padding: 0;
}

footer nav ul li{
	display: block;
}

footer nav ul li a{
	padding: 0 3px;
	margin: 3px;
	float: left;
	width: 25%;
	border-radius: 10px;
}

.die-icon{
	width: 30px;
	margin-bottom: -10px;
	margin-left: 3px;
}